@import 'bulma';

.nav {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 469px;
  a{
    color: red;
    margin-top: 15px;
  }
}

.hero-body {
  text-align: center;
  width: 469px;
  img {
    margin-left: 10px;
  }
  a{
    color: red;
  }
}

.subtitle {
  margin-top: 20px;
  text-align: center;
}

.add-table {
  height: 60px;
  width: 469px;
}

.form {
  margin-top: 20px;
}

.main-content.ng-scope {
  display: flex;
  justify-content: center;
}

.single > .card {
  width: 469px;
  figure {
    background-color: lightgrey;
  }
  img {
    width: 269px;
    height: 269px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 100%;
  }
  .fa {
    margin-right: 10px;
  }
}
