<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">

      <h1 class="title is-danger">
        Emergency Contact Information
      </h1>
      <h2 class="subtitle is-danger">
        The Iron Yard
      </h2>

      <table class="table">
        <thead>
          <tr>
            <td>Image</td>
            <td>Name</td>
            <td>Email</td>
            <td>Location</td>
          </tr>
        </thead>
          <tbody>
            <tr ng-repeat="contact in home.contacts">
              <td><figure class="image is-24x24">
                  <img src="http://placehold.it/128x128">
                </figure></td>
                <td class="contacts"><a href="#/contact/{{ contact._id }}">{{ contact.name }}</a></td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.location }}</td>
            </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
